.root{
	-fx-background-color:black ;
}
.button{
-fx-background-color: #454F58, linear-gradient(#20262b, #191d22), radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) ;  
-fx-background-radius: 5,4,3,5; 
-fx-background-insets: 0,1,2,0; 
-fx-text-fill: white; 
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
-fx-font-family: "Arial"; 
-fx-text-fill: linear-gradient(white, #d0d0d0); 
} 
.separator:horizontal.line{ 
-fx-background-color: black; -fx-border-color: #282D30 ; 
} 
.text-field{ 
-fx-background-color: #454F58, linear-gradient(#20262b, #191d22), radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) ; 
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
-fx-text-fill: white; 
} 
.menu-bar{
-fx-background-color: #454F58, linear-gradient(#20262b, #191d22), radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) ; 
	
} 
.menu .label{ 
-fx-text-fill: white;
} 
.slider{
	-fx-background-color: #454F58, linear-gradient(#20262b, #191d22), radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) ; 
}
.menu-item{
	-fx-background-color: #454F58, linear-gradient(#20262b, #191d22), radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)) ; 
}
